<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container">

<header th:replace="fragments :: header"></header>

<form method = "post">
    <div class="form-group">
        <label>Name
            <input th:field="${pet.name}" type="text" class="form-control">
        </label>
        <p class="error" th:errors="${pet.name}"></p>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-success">
    </div>

</form>

</body>
</html>