<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container">

<table class="table table-striped">
    <thead>
    <tr>
        <th>Pet Name</th>
        <td th:text="${pet.name}"></td>
    </tr>
    </thead>
</table>

<table class="table table-striped">
    <thead>
    <tr>
        <td th:if="${pet.petMedInfo == null}" ><a th:href="'/petProfiles/petMedInfo/edit?petId=' + ${pet.id}">There is no medical information created. Click here to add!</a></td>
    </tr>

    </thead>
</table>

</body>
</html>