<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navbar"></nav>

<div class="container">
    <header th:replace="fragments :: header"></header>

    <form method="post">
        <div class="form-group">
            <label>Name
                <input th:field="${pet.name}" class="form-control">
            </label>
            <p class="error" th:errors="${pet.name}"></p>
        </div>

        <div class="form-group" id="ageField">
            <label>Age
                <input th:field="${pet.ageYear}" type="number" max="150" min="0" class="form-control" style="width:100px;" placeholder="Year" required>
                <input th:field="${pet.ageMonth}" type="number" max="11" min="1" class="form-control" style="width:100px;" placeholder="Month">
            </label>
        </div>
        <button type="button" class="btn btn-sm btn-light" id="switchToBirthdayBtn" style="display: block;">Click to enter birthday</button>
        <button type="button" class="btn btn-sm btn-light" id="switchToAgeBtn" style="display: none;">Click to enter age</button>

        <div class="form-group">
            <label>Species
                <input th:field="${pet.species}" class="form-control">
            </label>
            <p class="error" th:errors="${pet.species}"></p>
        </div>

        <div class="form-group">
            <label>Breed
                <input th:field="${pet.breed}" class="form-control">
            </label>
            <p class="error" th:errors="${pet.breed}" ></p>
        </div>

        <div class="form-group">
            <label>Sex
                <label><input type="radio" th:field="${pet.sex}" value="Male" checked>Male</label>
                <label><input type="radio" th:field="${pet.sex}" value="Female" checked>Female</label>
                <label><input type="radio" th:field="${pet.sex}" value="Other" checked>Other</label>
            </label>
            <p class="error" th:errors="${pet.sex}"></p>
        </div>

        <div class="form-group">
            <label>Aggressive
                <label><input type="radio" th:field="${pet.aggressive}" value="Yes" checked>Yes</label>
                <label><input type="radio" th:field="${pet.aggressive}" value="No" checked>No</label>
            </label>
            <p class="error" th:errors="${pet.aggressive}"></p>
        </div>

        <div class="form-group">
            <label>Venomous
                <label><input type="radio" th:field="${pet.venomous}" value="Yes" checked>Yes</label>
                <label><input type="radio" th:field="${pet.venomous}" value="No" checked>No</label>
            </label>
            <p class="error" th:errors="${pet.venomous}"></p>
        </div>

        <div class="form-group">
            <label>Weight
                <label><input type="radio" th:field="${pet.weightUnit}" value="Pound" checked>Pound</label>
                <label><input type="radio" th:field="${pet.weightUnit}" value="Kilogram" checked>Kilogram</label>
                <input th:field="${pet.weight}" class="form-control">
            </label>
            <p class="error" th:errors="${pet.weightUnit}"></p>
            <p class="error" th:errors="${pet.weight}"></p>
        </div>

        <div class="form-group">
            <label>Color
                <input th:field="${pet.color}" class="form-control">
            </label>
            <p class="error" th:errors="${pet.color}"></p>
        </div>

        <div class="form-group">
            <label>Pet Behavior or Temperaments
                <textarea th:field="${pet.behavior}" class="form-control"></textarea>
            </label>
            <p class="error" th:errors="${pet.behavior}" p>
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-success">
        </div>
    </form>

</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>