<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navbar"></nav>

<div class="container">
    <header th:replace="fragments :: header"></header>
    <a th:if="${pets.size() == 0}" th:href="@{/pet/create}">There is no pet profile. Click here to create a pet profile!</a>
    <form method="post" th:unless="${pets.size() == 0}" th:href="@{/pet/create}">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Species</th>
            <th>Breed</th>
            <th>Age</th>
            <th>Sex</th>
            <th>Color</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tr th:each="pet : ${pets}">
            <td><a th:href="'/pet/detail?petId=' + ${pet.id}" th:text="${pet.name}"></a></td>
            <td th:text="${pet.species}"></td>
            <td th:text="${pet.breed}"></td>
            <td th:text="${pet.age}"></td>
            <td th:text="${pet.sex}"></td>
            <td th:text="${pet.color}"></td>
            <td>
                <label>
                    <input type="checkbox" name="petIds" th:value="${pet.id}">
                </label>
            </td>
        </tr>
    </table>
        <input type="Submit" value="Delete" class="btn btn-danger">
    </form>

</div>


<footer th:replace="fragments :: footer"></footer>
</body>
</html>