<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navbar"></nav>

<div class="container">

    <header th:replace="fragments :: header"></header>

    <a th:href="'/pet/create?petId=' + ${pet.id}">Edit information</a>

    <div class="container">
        <div class="row">
            <div class="col-8">
                <table class="table table-striped">
                    <tr>
                        <th>Reference ID</th>
                        <td th:text="${pet.id}"></td>
                    </tr>

                    <tr>
                        <th>Name</th>
                        <td th:text="${pet.name}"></td>
                    </tr>

                    <tr th:if="${role == 2}">
                        <th>Owner</th>
                        <td th:text="${pet.user.firstName + ' ' + pet.user.lastName + ' (ID: ' + pet.user.id + ')'}"></td>
                    </tr>

                    <tr>
                        <th>Venomous</th>
                        <td th:if="${pet.venomous == 'Yes'}" th:text="${pet.venomous}" style="color:red; font-weight:bold;"></td>
                        <td th:if="${pet.venomous == 'No'}" th:text="${pet.venomous}"></td>
                    </tr>

                    <tr>
                        <th>Aggressive</th>
                        <td th:if="${pet.aggressive == 'Yes'}" th:text="${pet.aggressive}" style="color:red; font-weight:bold;"></td>
                        <td th:if="${pet.aggressive == 'No'}" th:text="${pet.aggressive}"></td>
                    </tr>

                    <tr  th:unless="${pet.bDate == null}">
                        <th>Birthday</th>
                        <td th:text="${pet.bDate}"></td>
                    </tr>

                    <tr>
                        <th>Age</th>
                        <td th:text="${pet.ageYear + 'y ' + pet.ageMonth + 'm'}"></td>
                    </tr>

                    <tr>
                        <th>Species</th>
                        <td th:text="${pet.species}"></td>
                    </tr>

                    <tr>
                        <th>Breed</th>
                        <td th:text="${pet.Breed}"></td>
                    </tr>

                    <tr>
                        <th>Sex</th>
                        <td th:text="${pet.sex}"></td>
                    </tr>

                    <tr>
                        <th>Weight</th>
                        <td th:text="${pet.weight + ' lbs (' + pet.weightConversion() + ' kgs)'}" th:if="${pet.weightUnit.equals('Pound')}"></td>
                        <td th:text="${pet.weight + ' kgs (' + pet.weightConversion() + ' lbs)'}" th:if="${pet.weightUnit.equals('Kilogram')}"></td>
                    </tr>

                    <tr>
                        <th>Color</th>
                        <td th:text="${pet.color}"></td>
                    </tr>

                    <tr th:unless="${pet.behavior.isEmpty()}">
                        <th>Pet Behavior or Temperaments</th>
                        <td th:text="${pet.behavior}"></td>
                    </tr>
                </table>
            </div>
            <div class="col">
                <img class="petPictureInDetail" th:src="@{${pet.photosImagePath}}" alt="No picture"/>
            </div>
        </div>
    </div>




    <h3>Medical information</h3>
    <span>
        <a th:unless="${pet.medInfo == null}" th:href="'/pet/medInfo/edit?petId=' + ${pet.id}">Edit medical information</a>
        <a th:if="${pet.medInfo == null}" th:href="'/pet/medInfo/edit?petId=' + ${pet.id}">There is no medical information created. Click here to add!</a></td>
    </span>

    <table class="table table-striped">
        <th:block th:unless="${pet.medInfo == null}">
            <tr th:unless="${pet.medInfo.currentMeds.isEmpty()}">
                <th>Current Medications</th>
                <td th:text="${pet.medInfo.currentMeds}"></td>
            </tr>
            <tr>
                <th>Spat/Neuter</th>
                <td th:text="${pet.medInfo.spayNeuter}"></td>
            </tr>
            <tr>
                <th>Microchipped</th>
                <td th:text="${pet.medInfo.chip}"></td>
            </tr>

            <tr th:each="shotRecord : ${pet.medInfo.shotRecords}">
                <th th:if="${pet.medInfo.shotRecords.indexOf(shotRecord) == 0}">Shot Records</th>
                <th th:unless="${pet.medInfo.shotRecords.indexOf(shotRecord) == 0}"></th>
                <td th:unless="${shotRecord.date == null}" th:text="${shotRecord.name + ' on ' + shotRecord.date}"></td>
                <td th:if="${shotRecord.date == null}" th:text="${shotRecord.name}"></td>
            </tr>

            <tr th:each="pastSurgery : ${pet.medInfo.pastSurgeries}">
                <th th:if="${pet.medInfo.pastSurgeries.indexOf(pastSurgery) == 0}">Past Surgeries</th>
                <th th:unless="${pet.medInfo.pastSurgeries.indexOf(pastSurgery) == 0}"></th>
                <td th:unless="${pastSurgery.date == null}" th:text="${pastSurgery.name + ' on ' + pastSurgery.date}"></td>
                <td th:if="${pastSurgery.date == null}" th:text="${pastSurgery.name}"></td>
            </tr>

            <tr th:unless="${pet.medInfo.medicalNote.isEmpty()}">
                <th>Medical Note</th>
                <td th:text="${pet.medInfo.medicalNote}"></td>
            </tr>
        </th:block>

    </table>

</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>