<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navbar"></nav>
<div class="container">
    <header th:replace="fragments :: header"></header>
    <a th:if="${pets.size() == 0}" th:href="@{/pet/create}">There is no pet profile. Click here to create a pet profile!</a>
    <table th:unless="${pets.size() == 0}" class="table table-striped">
        <thead>
        <tr>
            <td>Picture</td>
            <th>Name</th>
            <th>Species</th>
            <th>Breed</th>
            <th>Age</th>
            <th>Sex</th>
            <th>Color</th>
        </tr>
        </thead>
        <tr th:each="pet : ${pets}">
            <td><img th:src="@{${pet.photosImagePath}}" /></td>
<!--            <td><img src="pet-photos/18/WIN_20190506_17_02_00_Pro.jpg"></td>-->
            <td><a th:href="'/pet/detail?petId=' + ${pet.id}" th:text="${pet.name}"></a></td>
            <td th:text="${pet.species}"></td>
            <td th:text="${pet.breed}"></td>
            <td th:text="${pet.ageYear + 'y ' + pet.ageMonth + 'm'}"></td>
            <td th:text="${pet.sex}"></td>
            <td th:text="${pet.color}"></td>
        </tr>
    </table>
</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>