<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navbar"></nav>
<div class="container">
    <header th:replace="fragments :: header"></header>
    <a th:if="${pets.size() == 0 && role == 1}" th:href="@{/pet/create}">There is no pet profile. Click here to create a pet profile!</a>
    <p th:if="${pets.size() == 0 && role == 2}">There is no pet profile.</p>
    <table th:unless="${pets.size() == 0}" class="table table-striped">
        <thead>
        <tr>
            <th>Picture</th>
            <th>Name</th>
            <th th:if="${role == 2}">Owner</th>
            <th>Species</th>
            <th>Breed</th>
            <th>Age</th>
            <th>Sex</th>
            <th>Color</th>
        </tr>
        </thead>
        <tr th:each="pet : ${pets}">
            <td style="width:150px"><img class="petPictureInTable" th:src="@{${pet.photosImagePath}}" alt="No picture"/></td>
            <td><a th:href="'/pet/detail?petId=' + ${pet.id}" th:text="${pet.name}"></a></td>
            <td th:if="${role == 2}" th:text="${pet.user.firstName + ' ' + pet.user.lastName + ' (ID: ' + pet.user.id + ')'}"></td>
            <td th:text="${pet.species}"></td>
            <td th:text="${pet.breed}"></td>
            <td th:text="${pet.ageYear + 'y ' + pet.ageMonth + 'm'}"></td>
            <td th:text="${pet.sex}"></td>
            <td th:text="${pet.color}"></td>
        </tr>
    </table>
</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>