.error {
    color: red;
}

.navbar {
    background-color: #0076BA;
    padding-left: 50px;
}

#slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

td.dangerous {
    font-weight: bold;
    color: red;
}

.petPictureInTable {
    max-width:100px;
    max-height:100px;
}

.petPictureInDetail {
    max-width:400px;
    max-height:500px;
}

.vetHeader {
     width: 30%;
}

.embeddedGoogleMap {
     width: 500px;
     height: 250px;
     border: 0;
     frameborder: 0;
     referrerpolicy: no-referrer-when-downgrade;
     allowfullscreen;
}



