.error {
    color: red;
}

.navbar {
    background-color: #0076BA;
    padding-left: 50px;
}

#slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

td.dangerous {
    font-weight: bold;
    color: red;
}

.petPictureInTable {
    max-width:100px;
    max-height:100px;
}

.petPictureInDetail {
    max-width:400px;
    max-height:500px;
}



