.error {
    color: red;
}

.navbar {
    background-color: #0076BA;
    padding-left: 50px;
}

#slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

td.dangerous {
    font-weight: bold;
    color: red;
}

/* #btnForClosingAddingShotWindow {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
} */

