<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container">

<header th:replace="fragments :: header"></header>

<p>
    Pet life allows pet owners, vets, and pet sitters to share information with others. Pet owner users can log in to create a profile of their pets. They can insert their pets' information covering from biographical to medical, like name, sex, behaviors, species, allergies, etc. Vet users can update and insert medical information for a pet, and the owner would know what is happening to their pet medically. Pet owner users can also share any caring notes of their pets with pet sitters and day care centers, so they would know how to take good care of their pets.
</p>

</body>
</html>