<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navbar"></nav>


<div class="container">
    <header th:replace="fragments :: header"></header>
    <div class="row">
        <div class="col-sm">
            <h3>About</h3>
            <p>
                PetLife is your pet/animal virtual organizer, which allows pet owners and veterinarians to share information with each other. Pet owner users can sign up for an account and log in to create profiles of their pets. With the account, they can insert and update their pets' information covering from biographical to medical, like name, sex, behaviors, species, allergies, etc. Alternatively, veterinarian users can update and insert medical information for a specific pet, and then the owner would know what is happening to their pets medically.
            </p>
            <br>
            <h3>Key Features</h3>
            <ul>
                <li>Easily organize all information of your animals in a single place, covering from biographical to medical.</li>
                <li>As an owner, to create, read, update and delete pet profiles are quick and easy.</li>
                <li>Auto update pet age and calculate age when inputting birthday.</li>
                <li>Convert weight units between pound and kilogram.</li>
                <li>As a veterinarian, you can read and update all pets' medical information.</li>
                <li>Simply share the information between owners and veterinarians.</li>
            </ul>
            <br>
            <h3>Github</h3>
            <p>This application was designed and built by Amber Ridgeway and Jenhsiang Hsieh, and licensed with the GNU General Public License v3.0. <a href="https://github.com/April-2022-LC-LiftOff/pet-life">https://github.com/April-2022-LC-LiftOff/pet-life</a></p>
            <br>
            <h3>Acknowledgement</h3>
            <p>This project was executed with the mentorship of Valerie Tonsor under the program of LaunchCode April 2022 LiftOff.</p>

        </div>
        <div class="col-sm" id="slideshow-container">

            <div class="mySlides">
<!--                <div class="numbertext">1 / 5</div>-->
                <img th:src="@{/images/homeSlideImg_1.jpeg}" style="width:100%">
<!--                <div class="text">Caption Text</div>-->
            </div>

            <div class="mySlides">
                <img th:src="@{/images/homeSlideImg_2.jpeg}" style="width:100%">
            </div>

            <div class="mySlides">
                <img th:src="@{/images/homeSlideImg_3.jpeg}" style="width:100%">
            </div>

            <div class="mySlides">
                <img th:src="@{/images/homeSlideImg_4.jpeg}" style="width:100%">
            </div>

            <div class="mySlides">
                <img th:src="@{/images/homeSlideImg_5.jpeg}" style="width:100%">
            </div>
<!--            <div style="text-align:center">-->
<!--                <span class="dot"></span>-->
<!--                <span class="dot"></span>-->
<!--                <span class="dot"></span>-->
<!--                <span class="dot"></span>-->
<!--                <span class="dot"></span>-->
<!--            </div>-->
        </div>
    </div>
</div>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>