<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navbar"></nav>
<header th:replace="fragments :: header"></header>
<div class="container text-center">
    <div>
        <h1>Please Login</h1>
        </div>
    <br>
        <div>
        <form th:action="@{/login}" method="post" style="max-width: 400px; margin: 0 auto;">
            <p>
                E-mail: <input type="email" name="email" required />
            </p>
            <br>
            <p>
                Password: <input type="password" name="password" required />
            </p>
            <br>
            <p>
                <input type="submit" value="Login" />
            </p>
            <br>
            <p>
                <a th:href="@{/forgot_password}">Forgot your password?</a>
            </p>
        </form>
    </div>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>