<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navbar"></nav>

<header th:replace="fragments :: header"></header>
<div class="container text-center">
    <div>
        <h2>Reset Your Password</h2>
    </div>
<br>


        <div class="container text-center">
            <p>
            <h4>[[${message}]]</h4>
            </p>
            <br>
            <p>
                <a th:href="@{/login}">Please Login</a>
            </p>

        </div>

</div>
        <footer th:replace="fragments :: footer"></footer>
</body>
</html>