<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navbar"></nav>

<header th:replace="fragments :: header"></header>
<div class="container text-center">
    <div>
        <h1>Sign Up</h1>
    </div>
    <form th:action="@{/register}" th:object="${user}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">


<br>
            <div class="form-group row">
                <label class="col-4 col-form-label">First Name: </label>
                <div class="col-8">
                    <input type="text" th:field="*{firstName}" class="form-control"
                           required minlength="2" maxlength="20"/>
                </div>
            </div>
<br>
            <div class="form-group row">
                <label class="col-4 col-form-label">Last Name: </label>
                <div class="col-8">
                    <input type="text" th:field="*{lastName}" class="form-control"
                           required minlength="2" maxlength="20" />
                </div>
            </div>
<br>
        <div class="form-group row">
            <label class="col-4 col-form-label">E-mail: </label>
            <div class="col-8">
                <input type="email" th:field="*{email}" class="form-control" required />
            </div>
        </div>
        <br>
        <div class="form-group row">
            <label class="col-4 col-form-label">Password: </label>
            <div class="col-8">
                <input type="password" th:field="*{password}" class="form-control"
                       required minlength="6" maxlength="10"/>
            </div>
        </div>
            <br>
            <div class="form-group row">
            <label class="col-4 col-form-label"> Veterinarian
                 <input type="checkbox" name="ROLE_ADMIN" th:field="*{isAdmin}" value="ROLE_ADMIN"/></label>
                <label class="col-4 col-form-label"> Owner
                <input type="checkbox" name="ROLE_USER" /></label>
            </div>
  <br>
            <div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </div>

    </form>

</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>