<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navbar"></nav>

<header th:replace="fragments :: header"></header>
<div class="container text-center">
    <div>
        <h2>Reset Your Password</h2>
    </div>
<br>
    <br>
    <form th:action="@{/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
        <input type="hidden" name="token" th:value="${token}" />
        <div >
            <div>
                <p>
                    <input type="password" name="password" id="password" class="form-control"
                           placeholder="Enter your new password" pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 6 characters' : ''); if(this.checkValidity()) form.password_two.pattern = this.value;"  required autofocus />
                </p>
                <br>
                <p>
                    <input type="password" id="password_two" name="password_two" class="form-control" placeholder="Confirm your new password"
                           pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');" required  />
                </p>
                <br>
                <p class="text-center">
                    <input type="submit" value="Change Password" class="btn btn-primary" />
                </p>
            </div>
        </div>
    </form>

</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>