<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navbar"></nav>

<div class="container">

    <header th:replace="fragments :: header"></header>

    <form method = "post">

        <div class="form-group">
            <label>Current Medications
                <input th:field="${medInfo.currentMeds}" class="form-control">
            </label>
            <p class="error" th:errors="${medInfo.currentMeds}"></p>
        </div>

        <div class="form-group">
            <label>Spay/Neuter
                <label><input type="radio" th:field="${medInfo.spayNeuter}" value="Yes" checked>Yes</label>
                <label><input type="radio" th:field="${medInfo.spayNeuter}" value="No" checked>No</label>
            </label>
            <p class="error" th:errors="${medInfo.currentMeds}"></p>
        </div>

        <div class="form-group">
            <label>Microchipped
                <label><input type="radio" th:field="${medInfo.chip}" value="Yes" checked>Yes</label>
                <label><input type="radio" th:field="${medInfo.chip}" value="No" checked>No</label>
            </label>
            <p class="error" th:errors="${medInfo.currentMeds}"></p>
        </div>

        <button type="button" class="btn btn-sm btn-light" id="editShotRecords" th:value="${medInfo.id}">Edit shot records</button>

        <button type="button" class="btn btn-sm btn-light" id="editPastSurgeries" th:value="${medInfo.id}">Edit surgery records</button>


        <div class="form-group">
            <label>Medical Note
                <textarea th:field="${medInfo.medicalNote}" class="form-control"></textarea>
            </label>
            <p class="error" th:errors="${medInfo.medicalNote}"></p>
        </div>

        <input type="hidden" name="petId" th:value="${pet.id}"/>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-success">
        </div>

    </form>


</div>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>