<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<!--<nav th:replace="fragments :: navbar"></nav>-->

<div class="container">

<!--    <header th:replace="fragments :: header"></header>-->
    <h3 th:text="${title}"></h3>
    <form method = "post">
        <div class="form-group">
            <table>
                <tr>
                    <td th:unless="${pastSurgeries.size() == 0}" style="text-align:center;">Delete</td>
                    <td th:if="${pastSurgeries.size() == 0}" style="text-align:center;"></td>
                    <td>Surgery Name</td>
                    <td>Date of Surgery</td>
                </tr>
                <tr th:unless="${pastSurgeries.size() == 0}" th:each="pastSurgery : ${pastSurgeries}">
                    <td style="text-align:center;">
                        <label>
                            <input type="checkbox" name="pastSurgeriesIds" th:value="${pastSurgery.id}" style="width:20px; height:20px;">
                        </label>
                    </td>
                    <td th:text="${pastSurgery.name}"></td>
                    <td th:text="${pastSurgery.date}" type="date"></td>
                </tr>
                <tr style="border-top: 1px solid black;">
                    <td>New surgery</td>
                    <td><input th:field="${pastSurgery.name}" class="form-control"></td>
                    <td><input th:field="${pastSurgery.date}" type="date" class="form-control"></td>
                </tr>
            </table>
            <input type="submit" value="Save" class="btn btn-success">
            <button type="button" onclick="window.close()" id="btnForClosingAddingShotWindow" class="btn btn-danger">Close</button>
        </div>
    </form>

<!--<footer th:replace="fragments :: footer"></footer>-->

</div>
</body>

</html>