<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<!--<nav th:replace="fragments :: navbar"></nav>-->

<div class="container">

<!--    <header th:replace="fragments :: header"></header>-->
    <h3 th:text="${title}"></h3>
    <form method = "post">
        <div class="form-group">
            <table>
                <tr>
                    <td>Delete</td>
                    <td>Shot Name</td>
                    <td>Date Received</td>
                </tr>
                <tr th:unless="${shotRecords.size() == 0}" th:each="shotRecord : ${shotRecords}">
                    <td style="text-align:center;">
                        <label>
                            <input type="checkbox" name="shotRecordsIds" th:value="${shotRecord.id}" style="width:20px; height:20px;">
                        </label>
                    </td>
                    <td th:text="${shotRecord.name}"></td>
                    <td th:text="${shotRecord.date}" type="date"></td>
                </tr>
                <tr>
                    <td>New shot</td>
                    <td><input th:field="${shotRecord.name}" class="form-control"></td>
                    <td><input th:field="${shotRecord.date}" type="date" class="form-control"></td>
                </tr>
            </table>
            <input type="submit" value="Save" class="btn btn-success">
        </div>
    </form>

<!--<footer th:replace="fragments :: footer"></footer>-->

</div>
</body>

</html>