<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<!--<nav th:replace="fragments :: navbar"></nav>-->

<div class="container">

<!--    <header th:replace="fragments :: header"></header>-->
    <form method = "post">
        <div class="form-group">
            <table>
                <tr>
                    <td>Shot Name</td>
                    <td>Date Received</td>
                </tr>
                <tr th:unless="${shotRecords.size() == 0}" th:each="shotRecord : ${shotRecords}">
                    <td th:text="${shotRecord.name}"></td>
                    <td th:text="${shotRecord.date}" type="date"></td>
                </tr>
                <tr>
                    <td><input th:field="${shotRecord.name}" class="form-control"></td>
                    <td><input th:field="${shotRecord.date}" type="date" class="form-control"></td>
                </tr>
            </table>
<!--            <p th:error="${shotRecord.name}" class="error"></p>-->
<!--            <p th:error="${shotRecord.date}" class="error"></p>-->
            <input type="submit" value="Save" class="btn btn-success">
        </div>
    </form>

<!--<footer th:replace="fragments :: footer"></footer>-->

</div>
</body>

</html>