
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>


<form method="post">
    <div class="form-group">
        <label>Name
            <input th:field="${petBio.petName}" class="form-control">
        </label>
        <p class="error" th:errors="${petBio.petName}"></p>
    </div>
    <div class="form-group">
        <label>Age
            <input th:field="${petBio.petAge}" class="form-control">
        </label>
        <p class="error" th:errors="${petBio.petAge}" ></p>
    </div>

    <div class="form-group">
        <label>Species
            <input th:field="${petBio.petSpecies}" class="form-control">
        </label>
        <p class="error" th:errors="${petBio.petSpecies}"></p>
    </div>

    <div class="form-group">
        <label>Breed
            <input th:field="${petBio.petBreed}" class="form-control">
        </label>
        <p class="error" th:errors="${petBio.petBreed}" ></p>
    </div>

    <div class="form-group">
        <label>Sex
            <select th:field="${petBio.petGender}" class="form-control">
                <option th:value="Male">Male</option>
                <option th:value="Female">Female</option>
                <option th:value="Non-Binary">Non-Binary</option>
            </select>
        </label>
    </div>

    <div class="form-group">
        <label>Weight
            <input th:field="${petBio.petWeight}" class="form-control">
        </label>
        <p class="error" th:errors="${petBio.petWeight}"></p>
    </div>

    <div class="form-group">
        <label>Color
            <input th:field="${petBio.petColor}" class="form-control">
        </label>
        <p class="error" th:errors="${petBio.petColor}"></p>
    </div>


    <div class="form-group">
        <label>Pet Behavior or Temperaments
            <input th:field="${petBio.petBehavior}" class="form-control">
        </label>
        <p class="error" th:errors="${petBio.petBehavior}" p>
    </div>


    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>

</body>
</html>
