<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<form method="post" style="max-width:600px;">
 <table>
     <tbody>
     <tr>
         <td><label>Pet's Name</label></td>
         <td><input type="text" name="petName"/></td>
         <span th:errors="${petBio.name}" class="error"></span>
     </tr>
     <tr>
         <td><label>Age</label></td>
         <td><input type="text" name="petAge"/></td>
         <span th:errors="${petBio.petName}" class="error"></span>
     </tr>
     <tr>
         <td><label>Birth Date</label></td>
         <td><input type="text" name="petBirthdate"/></td>
     </tr>

     </tbody>
 </table>

    <input type="submit" value="Add Pet Biography" />
</form>
</body>
</html>