<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>



<body class="container">

<form method="post" >

    <th:block th:each="pet : ${pets}">
        <div class="form-group">

        <label>
            <span th:text="${pet.petName}"></span>
            <input type="checkbox" name="petIds" th:value="${pet.id}">
        </label>
        </div>
    </th:block>
    <input type="submit" name="Delete" class="btn btn-danger">
</form>

</body>
</html>