<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

    <p th:unless="${petBiographys} and ${petBiographys.size()}">no pets!</p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
        </thead>
        <tr th:each="pet : ${pets}">
            <td th:text="${pet.id}"></td>
            <td th:text="${pet.petName}"></td>
            <td th:text="${pet.petAge}"></td>
        </tr>

<!--    <a th:href="@{'/petbio/add'}">Add Pet Biography</a>-->
    </table>
</div>
</body>
</html>